<h1>Carrito</h1>
<div>
    <h3>ID: {{cid}} Usuario: {{user.username}}</h3>
</div>
{{#if productosLength}}
    <ul id="lista">
    {{#each productos}}
        <li id={{this.pid._id}}>
            <p>ID: {{this.pid._id}}</p>
            <p>Titulo: {{this.pid.titulo}}</p>
            <p>Descripcion: {{this.pid.descripcion}}</p>
            <p>Categoria: {{this.pid.categoria}}</p>
            <p>Imagen: {{this.pid.imagen}}</p>
            <p>Precio: ${{this.pid.precio}}</p>
            <p>Cantidad: {{this.cantidad}}</p>
            <p>Total: ${{this.total}}</p>
        </li>
    {{/each}}
    </ul>
    <div>
        <h3>Total: ${{totalCarrito}}</h3>
    </div>
{{else}}
    <ul id="lista">
        <li>Carrito vacio</li>
    </ul>
{{/if}}
