<h2>Productos paginación</h2>
<i>**sin reload**</i><br><br>
<select id="categorias">
    <option></option>
    {{#each categorias}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
</select>
<select id="sort">
    <option></option>
    <option value="asc">asc</option>
    <option value="desc">desc</option>
</select>
<button id="filtrar">Filtrar</button>
<button id="reset">Reset</button>

<div style="margin: 15px;">
    {{#if hasPrevPage}}
    <button id="prevBtn" value="{{prevApi}}"><<</button>
        {{else}}
        <button id="prevBtn" value="{{prevApi}}" hidden><<</button>
    {{/if}}
    <p id="page" style="display:inline-block;">{{page}}</p>
    {{#if hasNextPage}}
    <button id="nextBtn" value="{{nextApi}}">>></button>
        {{else}}
        <button id="nextBtn" value="{{nextApi}}" hidden>>></button>
    {{/if}}
    <select style="margin: 15px;" id="paginas">
        {{#each paginas}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
</div>
<div id="renderProducts">
    <p>Mostrando: {{from}}-{{to}} de {{totalDocs}}</p>
    <label for="show">Show:</label>
    <input type="number" min="1" max="{{totalDocs}}" step="1" id="limit" value="{{limit}}">
    <button id="mostrar">&#128269</button>
    {{#if productosLength}}
        <ul id="pagina">
        {{#each productos}}
            <li id={{this._id}}>
                <p>ID: {{this._id}}</p>
                <p>Titulo: {{this.titulo}}</p>
                <p>Descripcion: {{this.descripcion}}</p>
                <p>Categoria: {{this.categoria}}</p>
                <p>Imagen: {{this.imagen}}</p>
                <p>Precio: ${{this.precio}}</p>
                <p>Codigo: {{this.codigo}}</p>
                <p>Stock: {{this.stock}}</p>
            </li>
            <label for="cantidad">Cantidad</label>
            <input type="number" min="1" max="{{this.stock}}" class="cantidad">
            <button class='agregar' value="{{this.id}}">Agregar</button>
        {{/each}}
        </ul>
    {{else}}
        <ul id="pagina">
            <li>No hay productos</li>
            <span id="agregar"></span>
        </ul>
    {{/if}}
</div>

<script async="true" type="module" src="/js/products.js"></script>


