    <h1>Productos</h1>
    {{#if productosLength}}
        <ul>
        {{#each productos}}
            <li>
                <p>id: {{this.id}}</p>
                <p>Titulo: {{this.titulo}}</p>
                <p>descripcion: {{this.descripcion}}</p>
                <p>Categoria: {{this.categoria}}</p>
                <p>Precio: {{this.precio}}</p>
                <p>Codigo: {{this.codigo}}</p>
                <p>Stock: {{this.stock}}</p>
            </li>
        {{/each}}
        </ul>
    {{else}}
            <p>No hay productos disponibles</p>
    {{/if}}