    <h2>Productos paginación</h2>
    <select name="categorias" id="categorias">
        <option value="TODAS">TODAS</option>
        <option value="MEME">MEME</option>
        <option value="NFT">NFT</option>
        <option value="FINANCE">FINANCE</option>
        <option value="INFRASTRUCTURE">INFRASTRUCTURE</option>
    </select>
    <select name="SORT" id="sort">
        <option value="none">none</option>
        <option value="asc">ASCENDENTE</option>
        <option value="desc">DECENDENTE</option>
    </select>
    <button id="filtrar">Filtrar</button>
    {{#if productosLength}}
        <ol id="pagina">
        {{#each docs}}
            <li id={{this._id}}>
                <p>ID: {{this._id}}</p>
                <p>Titulo: {{this.titulo}}</p>
                <p>Descripcion: {{this.descripcion}}</p>
                <p>Categoria: {{this.categoria}}</p>
                <p>Imagen: {{this.imagen}}</p>
                <p>Precio: {{this.precio}}</p>
                <p>Codigo: {{this.codigo}}</p>
                <p>Stock: {{this.stock}}</p>
            </li>
            <button id='agregar'>Agregar</button>
        {{/each}}
        </ol>
    {{else}}
        <ul id="pagina">
        </ul>
    {{/if}}
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/js/productos.js"></script>
