    <h2>Real time productos</h2>
    {{#if productosLength}}
        <ul id="lista">
        {{#each productos}}
            <li id={{this._id}}>
                <p>ID: {{this._id}}</p>
                <p>Titulo: {{this.titulo}}</p>
                <p>Descripcion: {{this.descripcion}}</p>
                <p>Categoria: {{this.categoria}}</p>
                <p>Imagen: {{this.imagen}}</p>
                <p>Precio: {{this.precio}}</p>
                <p>Codigo: {{this.codigo}}</p>
                <p>Stock: {{this.stock}}</p>
            </li>
        {{/each}}
        </ul>
    {{else}}
        <ul id="lista">
        </ul>
    {{/if}}
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/realTime.js"></script>
<script type="module" src="/js/carrito.js"></script>